@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


/* all font-style */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  .inter- {
    font-family: "Inter", sans-serif;
    
  } 
/* button hover */
.conf-wrap button:hover , .news-input button:hover{
    background-color: #070211;
}
   


/* our-banner-hero-section */


.banner-hero{
    max-width: 1320px;
    height: 600px;
    margin:0px auto -50px;
    padding:50px 80px 0px 80px;

}
.contant-wrap{
    border-radius: 16px;
    background-repeat:no-repeat;
    background-size:cover;
       width: 100%;
       text-align: center;
       /* margin:auto; */
       padding:136px 100px;
       background-image :  linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url("../asset/images/Banner\ Image.png") ;
}

.contant-wrap h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}
.contant-wrap h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}

   /* banner-hero-style-ends-here  */



/* 65% off happy new years-style -start-here */

.happy-new-year-section
{
display: flex;
flex-direction: column;
gap: 40px;
align-items:center;
justify-content: center;
padding:110px 80px 30px 80px;
}

.hppy-title h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:48px;
}
.hppy-title span{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:16px;
    display: block;
} 
.hppy-title h3
{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.hppy-image{
    width: 750.9px;
height: 500px;
margin: auto;
border: 1px dashed #b9b7b7;
}

.hppy-image img{
    width:100%
}


/* happy-new-year-style-ends-here */


/* welcome-party-section-style-start-here */

.welcome-party-sec{
    max-width: 1320px;
    margin: 0 auto;
    padding: 75px 80px 0px 80px;
    
}

.welcome-party-whole-wrap{
    padding: 100px 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url("../asset/images/Vectorrr.png");
}

.welcome-party-wrap h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom:50px;

} 

.welcome-party-wrap p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom:30px;
}

.welcome-party-wrap span{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

/* welcome-party-section-style-ends-here */



 /* conference-schedule-section-style- start */
   
   .sche-conf{
    max-width: 1320px;
    margin: 0 auto;
    padding: 100px 0px;
   
 }


.conf-wrap{
    padding:100px 200px;
    gap: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
    width:87%;
    margin: auto; 
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.conf-wrap h3{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.conf-wrap h3 span{
    color: red;
}

.conf-wrap button{
    text-align: center;
padding: 16px 32px 16px 32px;
    border-radius: 8px;
background: rgb(255, 0, 0);
border: none;
text-transform: uppercase;
color: #fff;
font-family: "Inter", sans-serif;
font-weight: 500;
margin-top:35px;
transition: .5s;
}

 /* conference-schedule-section-style- end */



/* best-offer-styles-start-here */
        
.best-offer-sec{
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 80px 0px 80px;
    
}
 

/* best-offer-left-side-content */

.best-offer-left-side-content{
    width: 33%;
    

}

.best-offer-left-side-content span{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align:left;
    margin-bottom: 16px;
    display: block;
}
.best-offer-left-side-content h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.best-offer-left-side-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

/* best-offer-middle-image */

.best-offer-middle-image{
    width: 34%;
    
    padding: 10px;
}

.best-offer-middle-image img{
    width:80%;
    margin: auto;
    display: block;
    border: 9px solid red; 
    border-radius: 50%;
    padding: 30px;
}


/* best-offer-right-side-content */


.best-offer-right-side-content{
    width: 33%;
    text-align: start;
    margin: auto;
    padding: 30px 0px 30px 80px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}
.inner-best-offer-content{
 display: flex;
 align-items: start;
 justify-content: center;
 flex-direction: column;
 gap: 30px;
}

.inner-best-offer-image{
    border:1px dashed #b9b7b7;

}
.best-offer-right-side-content h2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;

}

.best-offer-right-side-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

/* best-offer-styles-ends-here */



/* our discount section-style start here */

.sales-section{ 

background: rgb(255, 255, 255);
max-width: 1320px;
margin: 0 auto;
padding:120px 80px;

}

.sales-desc-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    width:85%;
/* height: 260px; */
margin: 0 auto;
margin-bottom: 68px;
}

.sales-desc-wrap h4{color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
   }

.sales-desc-wrap h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.Holidays{
    color: red;
}
.sales-desc-wrap p{
     text-align: center;
     color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
}

.offer-pic-wrap{
    position: relative;
 
    margin:auto;

}
/* .offer-pic-image{
position: relative;

} */

.offers{
    width: 600.82px;
    height: 577.96px;
    position: absolute;
  /* left: 50px; */
  /* box-shadow: 10px 10px 5px lightblue; */
}

.left-side-image {
    position: absolute;
    right: 392px;

}
.Ellipse{
    width: 390.69px;
    height: 343.69px;
    position: absolute;
    top:7px;
}
.discount{
    position: absolute;
    right: -155px;

}

.offer-bottom-solid-color{
    background-color: red;
    width:100%;
height: 229px;
margin:auto;
position: absolute;
top: 350px;
z-index: -1;
border-radius: 10px;


}

/* our discount section-style ends here*/


/* our awesome portfolio section-style- start-here */

.portfolio-section{
    padding:80px 80px 120px 80px;
    max-width: 1320px;
  margin: 0 auto;
 margin-top :530px;
  display: flex;
  flex-direction: column;
  align-items:start;
justify-content: center;

}


.portfolio-ti-desc-wrap{
    margin-bottom: 48px;
    width: 70%;
}
.portfolio-ti-desc-wrap h4{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.portfolio-ti-desc-wrap h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.portfolio-ti-desc-wrap p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


.portfolio-gird-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
   
    margin:0 auto;
   
}

.portfolio-gird-wrap img{
    width:100%;
 
}

/* our awesome portfolio section-style- end here */



/* news letter-section style starts */

     .news-letter-sec{
        max-width: 1320px;
        padding: 0px 78px;
         margin: 0 auto;
         margin-bottom: 120px;
         
     }  

.news-letter-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px ;
    border-radius: 13px;
     }

.news-letter-wrap h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
      margin: 46px 0px 22px 0px;
}   
.news-letter-wrap p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:38px;
}  


.news-input{
    position: relative;
}
.news-input input{
    border-radius: 50px;
    background: rgb(255, 255, 255);
    padding:25px 145px 25px 30px;
    color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
border: none;
}

.news-input button{
    border-radius: 0px 50px 50px 0px;
     background: rgb(255, 0, 0);
     padding:28px 50px;
     border: none;
     position: absolute;
     right: -110px;
     color: beige;
     transition: 0.5s;
 }

/* news letter-section style ends */




/* foooter design start-here */
          

   #contact-foot{
    background-color: #070211;
    max-width: 1320px;
    margin:0 auto;
    padding-top:100px ;
    padding-bottom: 100px ;

   }        
   hr{
    width: 87%;
    margin: 0 auto;
    border:1px solid #454545;
    opacity: .5;
   }
   .address-wrap{
       display:flex;
       justify-content:space-around;
       align-items: center;
       gap:27%;
       margin-bottom: 85px;

   }
   
   .left-address p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
   }

   .right-address{
    
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .right-address {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
   }

.right-address  img{
        margin-right: 10px;
}



.social-address{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 50px;
    padding-top: 50px;
}


.bottom-footer{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
    margin-top: 98px;

    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.Unsubscribe{
    cursor: pointer;
}
/* foooter design ends-here */

