@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}


/* all font-style */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  .inter- {
    font-family: "Inter", sans-serif;
    
  } 
/* button hover */
.conf-wrap button:hover , .news-input button:hover{
    background-color: #070211;
}
   


/* our-banner-hero-section */


.banner-hero{
    max-width: 1320px;
    height: 600px;
    margin:0px auto -50px;
    padding:50px 80px 0px 80px;

}
.contant-wrap{
    border-radius: 16px;
    background-repeat:no-repeat;
    background-size:contain;
       width: 100%;
       text-align: center;
       /* margin:auto; */
       padding:136px 100px;
       background-image :  linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) , url("../asset/images/Banner\ Image.png") ;
}

.contant-wrap h4{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}
.contant-wrap h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}

   /* banner-hero-section-ends-here  */

.sche-conf{
    max-width: 1320px;
    margin: 0 auto;
    padding: 100px 0px;
   
 }


.conf-wrap{
    padding:100px 200px;
    gap: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
    width:87%;
    margin: auto; 
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.conf-wrap h3{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.conf-wrap h3 span{
    color: red;
}

.conf-wrap button{
    text-align: center;
padding: 16px 32px 16px 32px;
    border-radius: 8px;
background: rgb(255, 0, 0);
border: none;
text-transform: uppercase;
color: #fff;
font-family: "Inter", sans-serif;
font-weight: 500;
margin-top:35px;
transition: .5s;
}

/* conference-schedule-section start */

/* sales section-style start here
*/

.sales-section{ 

background: rgb(255, 255, 255);
max-width: 1320px;
margin: 0 auto;
padding:120px 80px;

}

.sales-desc-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    width:85%;
/* height: 260px; */
margin: 0 auto;
margin-bottom: 68px;
}

.sales-desc-wrap h4{color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
   }

.sales-desc-wrap h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.Holidays{
    color: red;
}
.sales-desc-wrap p{
     text-align: center;
     color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
}

.offer-pic-wrap{
    position: relative;
 
    margin:auto;

}
/* .offer-pic-image{
position: relative;

} */

.offers{
    width: 674.82px;
    height: 577.96px;
    position: absolute;
  /* left: 50px; */
  /* box-shadow: 10px 10px 5px lightblue; */
}

.left-side-image {
    position: absolute;
    left: 64.6%;

}
.Ellipse{
    width: 390.69px;
    height: 343.69px;
    position: absolute;
    top:7px;
}
.discount{
    position: absolute;
    right: -155px;

}

.offer-bottom-solid-color{
    background-color: red;
    width:100%;
height: 229px;
margin:auto;
position: absolute;
top: 350px;
z-index: -1;
border-radius: 10px;


}

/* sales section-style ends here*/

.portfolio-section{
    padding:120px 80px;
    max-width: 1320px;
  margin: 0 auto;
 margin-top :530px;
  display: flex;
  flex-direction: column;
  align-items:start;
justify-content: center;

}


.portfolio-ti-desc-wrap{
    margin-bottom: 48px;
    width: 70%;
}
.portfolio-ti-desc-wrap h4{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.portfolio-ti-desc-wrap h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.portfolio-ti-desc-wrap p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


.portfolio-gird-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
   
    margin:0 auto;
   
}

.portfolio-gird-wrap img{
    width:100%;
 
}



/* input section css style starts */

     .news-letter-sec{
        max-width: 1320px;
        padding: 0px 78px;
         margin: 0 auto;
         margin-bottom: 120px;
         
     }  

.news-letter-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px ;
    border-radius: 13px;
     }

.news-letter-wrap h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
      margin: 46px 0px 22px 0px;
}   
.news-letter-wrap p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:38px;
}  


.news-input{
    position: relative;
}
.news-input input{
    border-radius: 50px;
    background: rgb(255, 255, 255);
    padding:25px 145px 25px 30px;
    color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
border: none;
}

.news-input button{
    border-radius: 0px 50px 50px 0px;
     background: rgb(255, 0, 0);
     padding:28px 50px;
     border: none;
     position: absolute;
     right: -110px;
     color: beige;
     transition: 0.5s;
 }

/* input section css style ends */




/* foooter design start-here */
          

   #contact-foot{
    background-color: #070211;
    max-width: 1320px;
    margin:0 auto;
    padding-top:100px ;
    padding-bottom: 100px ;

   }        

   .address-wrap{
       display:flex;
       justify-content:space-around;
       align-items: center;
       gap:27%;


   }
   
   .left-address p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
   }
   .right-address{
    
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .right-address {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
   }

.social-address{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 90px;
}


.bottom-footer{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
    margin-top: 98px;

    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
/* foooter design ends-here */

